:root {
    --fuentePrincipal: 'Fjalla One', sans-serif;
    --fuenteSecundaria: 'Roboto', sans-serif;
    --colorPrimario: ;
    --colorSecundario: ;
    --colorClaro: #ffffff;
    --colorOscuro: #000000;
}