.main {
    height: auto;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: auto auto;
}

.mainLogin {
    height: auto;
    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 80px auto;
}

.mainRegister {
    height: auto;
    display: grid;
    /* grid-column-gap: 1rem; */
    grid-template-columns: 80px auto auto;
}

.mainSetting {
    height: auto;
    display: grid;
    /* grid-column-gap: 1rem; */
    grid-template-columns: 80px auto auto auto;
}

.main {
    height: auto;
    display: grid;
    /* grid-column-gap: 1rem; */
    grid-template-columns: 80px auto;
}