.form__login {
    width: 50%;
    margin: 0 auto;
}

form legend {
    margin: 2rem 0;
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
}

form .campo {
    display: flex;
    position: relative;
    margin-bottom: .5rem;
}

form .campo span {
    position: absolute;
    right: 1rem;
    top: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

form .campo label {
    position: absolute;
    top: 1.1rem;
    left: 1rem;
    font-size: .9rem;
    transition: font-size .2s ease, top .2s ease;
    -webkit-transition: font-size .2s ease, top .2s ease;
    -moz-transition: font-size .2s ease, top .2s ease;
    -ms-transition: font-size .2s ease, top .2s ease;
    -o-transition: font-size .2s ease, top .2s ease;
}

form .campo label.valido {
    font-size: .6rem;
    top: .5rem;
}

form .campo input {
    flex: 1;
    padding: 1.3rem 1rem .7rem 1rem;
    border: none;
    color: #000000;
    background-color: #8c8c8c;
    /* background-color: #323232; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form .campo input:focus {
    background-color: #8c8c8c;
    outline: none;
}

form .campo input:focus+label {
    font-size: .6rem;
    top: .5rem;
}

form .submit {
    display: flex;
    margin-top: 2rem;
}

form .submit input[type='submit'] {
    /* background-color: #e50914; */
    background-color: rgba(255, 89, 93, 1);
    color: #ffffff;
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 1rem;
    padding: 1rem 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    ;
}

form .submit input[type='submit']:hover {
    cursor: pointer;
}

form .acciones {
    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
    margin: .5rem 0 8rem 0;
}

form .acciones label,
form .acciones a {
    font-size: .8rem;
    text-decoration: none;
}

.contenido-inferior {
    text-align: center;
    padding-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
    .contenido-inferior {
        padding-bottom: 0;
    }
}

.contenido-inferior a {
    font-size: .8rem;
    color: rgb(128, 128, 128);
    cursor: pointer;
}

.submit__inferior a {
    font-size: 1.3rem;
    cursor: pointer;
}

.submit__inferior a:hover {
    color: rgba(255, 89, 93, 1);
    cursor: pointer;
}

.contenido-inferior .nuevo-usuario {
    font-size: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.contenido-inferior .nuevo-usuario a {
    font-size: 1rem;
    /* color: #ffffff; */
    color: #000000;
    margin-left: .5rem;
}